<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>
        <h1>WELCOME TO THE ERP SYSTEM!</h1>

        <ul><h2>Display all the students of the college? </h2></ul>
        <ul><a href="{% url 'student_list' %}">Student List</a></ul>
        <ul><h2>Display all the teachers of the college?</h2></ul>
        <ul><a href="{% url 'teacher_list' %}">Teacher Lists</a></ul>

        

    </li>
</body>
</html>