{% extends 'main/base.html' %}

{% block content %}
{% include 'main/navbar.html' %}
<style>
  h2 {
    text-decoration: underline;
  }
</style>

<h2>Student Information:</h2>


<div>
    <h1 class="center">
        <table>
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Student Name</th>
                  <th>Classroom No</th>
                  <th>Branch</th>
              </tr>
            </thead>
    
            <tbody>
              <tr>
                <td>{{Students.id}}</td>
                <td>{{Students.s_name}}</td>
                <td>{{Students.classroom}}</td>
                <td>{{Students.classroom.branch}}</td>
              </tr>
            </tbody>
          </table>
    </h5>
  </div>

{% endblock %}