<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 class="center-align">
            <table>
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>Student Name</th>
                      <th>Classroom</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>{{Students.id}}</td>
                    <td>{{Students.s_name}}</td>
                    <td>{{Students.classroom}}</td>
                  </tr>
                </tbody>
              </table>
        </h5>
      </div>
</body>
</html>