{% extends 'main/base.html' %}

{% block content %}
    {% include 'main/navbar.html' %}
    <style>
        a {
            font-size: xx-larges;
            color: black;
            text-decoration: underline;
        }

        h3 {
            text-align: center;
        }
    </style>
    <h1>
        List of Teachers : 
    </h1>
    
            <td>
                {% for teacher in teachers %}
                <h3><a href="{% url 'get_teacher' teacher.id %}">{{teacher}}</a></h3>
            {% endfor %}


    <li>
        <ul>
        </ul>
    </li>
{% endblock %}