<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>

        form {
            align-content: center;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
    <h1>Login</h1>

    {% if error %}
        {{ error }}
    {% endif %}

    <form action="" method = "POST">
        {% csrf_token %}
        {{ form }}

        <button type="submit">Submit</button>
    </form>
</body>
</html> 